*{
    margin: 0;
    
    
}
body{
    /* background-image: url("./module/images/double-bubble-dark.png"); */
    background-image: url("./module/images/double-bubble-dark.png");
    
}
body::-webkit-scrollbar {
    display: none;
  }

